<div class="splitcontent">
  <div class="splitcontentleft">
    <p>
      <%= f.select :tag_list, @issue.tag_list,{}, multiple: true, class: "tag-input", style: "width: 100%;" %>
    </p>
  </div>
</div>