<% if @project && @project.module_enabled?(:agile_board) && @project.sprints.any? %>
  <div class="splitcontent">
    <div class="splitcontentleft">
      <p>
        <%= f.select :sprint_id, @project.sprints.collect { |s| [s.name, s.id] }, include_blank: true %>
      </p>
      <p>
        <%= f.number_field :story_points, min: 0, step: "any" %>
      </p>
      <p>
        <%= f.select :difficulty, [[l(:field_difficulty_easy), "easy"], [l(:field_difficulty_medium), "medium"], [l(:field_difficulty_hard), "hard"]],{ include_blank: true },{ class: 'difficulty-select' } %>
      </p>
    </div>
  </div>
<% end %>