<div id="agile-board-status-filter">
  <h3><%= l(:label_filter_by_status) %></h3>
  <form id="status-filter-form">
    <label>
      <input type="checkbox" id="select-all">
      <span id=select-all-label-text>
      </span>     
    </label><br/>
    <div id="status-list-section">
      <% @statuses.each_with_index do |status, index| %>
        <label>
          <input type="checkbox" class="status-checkbox" name="status_ids[]" value="<%= status.id %>" checked>
          <%= status.name %>
        </label><br>
      <% end %>
    </div>
    <button type="submit"><%= l(:button_apply) %></button>
  </form>
</div>